In [3]:
import pandas as pd
ratings_movies = pd.read_csv('data/ratings_movies.csv')
rat_mov_copy = ratings_movies.copy()

In [7]:
import re 
def get_year_release(arg):
    #находим все слова по шаблону "(DDDD)"
    candidates = re.findall(r'\(\d{4}\)', arg) 
    # проверяем число вхождений
    if len(candidates) > 0:
        #если число вхождений больше 0,
	#очищаем строку от знаков "(" и ")"
        year = candidates[0].replace('(', '')
        year = year.replace(')', '')
        return int(year)
    else:
        #если год не указан, возвращаем None
        return None

In [30]:
rat_mov_copy.head()
rat_mov_copy['year_release'] = rat_mov_copy['title'].apply(get_year_release)
rat_mov_copy.info()

,Unnamed: 0,userId,movieId,rating,date,title,genres,year_release
0,0,1,1,4.0,2000-07-30 18:45:03,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995.0
1,1,1,3,4.0,2000-07-30 18:20:47,Grumpier Old Men (1995),Comedy|Romance,1995.0
2,2,1,6,4.0,2000-07-30 18:37:04,Heat (1995),Action|Crime|Thriller,1995.0
3,3,1,47,5.0,2000-07-30 19:03:35,Seven (a.k.a. Se7en) (1995),Mystery|Thriller,1995.0
4,4,1,50,5.0,2000-07-30 18:48:51,"Usual Suspects, The (1995)",Crime|Mystery|Thriller,1995.0

In [ ]:
mask1 = rat_mov_copy['year_release'] == 1999
rat_mov_copy[mask1].groupby(by='title')['rating'].mean().sort_values()

In [ ]:
mask2 = rat_mov_copy['year_release'] == 2010
rat_mov_copy[mask2].groupby(by='genres')['rating'].mean().sort_values()

In [ ]:
rat_mov_copy.groupby(by='userId')['genres'].nunique().sort_values(ascending=False)

In [ ]:
rat_mov_copy.groupby(by='userId')['rating'].agg(
    ['count', 'mean']
).sort_values(by=['count', 'mean'], ascending=[True, False])

In [ ]:
mask3 = rat_mov_copy['year_release'] == 2018
filter_genres = rat_mov_copy[mask3].groupby(by='genres')['rating'].agg(
    ['mean', 'count']
)
filter_genres[filter_genres['count']>10].sort_values(by='mean', ascending=False)

In [ ]:
rat_mov_copy['date'] = pd.to_datetime(rat_mov_copy['date'])
rat_mov_copy['year_rating'] = rat_mov_copy['date'].dt.year
#rat_mov_copy.info()
#rat_mov_copy.head()
pivot = rat_mov_copy.pivot_table(
    values='rating',
    index='year_rating',
    columns='genres',
    aggfunc='mean',
    fill_value=0
)
#display(pivot)
display(pivot['Comedy'])
display(pivot.loc[2018].sort_values(ascending=False))

In [28]:
import pandas as pd
orders = pd.read_csv('data/orders.csv', sep=";")
products = pd.read_csv('data/products.csv', sep=";")
#display(orders)
#display(products)
orders_products = orders.merge(
    products,
    left_on='ID товара',
    right_on='Product_ID',
    how='left')
#display(orders_products)
#orders_products.tail(2)['Order ID']
#orders_products[orders_products['Отменен'] == 'Да']['Name']
orders_products['Profit'] = orders_products['Price'] * orders_products['Количество']
orders_products[orders_products['Оплачен'] == 'Да'].groupby(by='ID Покупателя')['Profit'].sum().sort_values(ascending=False)

ID Покупателя
7    17096.0
5    13043.0
8     1344.0
1        0.0
Name: Profit, dtype: float64