In [15]:
import pandas as pd
from sklearn import preprocessing

In [2]:
data = pd.read_csv('data/new-site.csv', sep='\t')

In [3]:
data

     site  dwell-time
0       0           2
1       1          48
2       0          15
3       1          16
4       0          38
..    ...         ...
295     0          22
296     0           7
297     1         144
298     0          89
299     0         138

[300 rows x 2 columns]

In [14]:
time1 = data[data['site']==0]['dwell-time'].mean()
round(time1)

91

In [13]:
time2 = data[data['site']==1]['dwell-time'].mean()
time2

88.0

In [11]:
time_all = data['dwell-time'].sum()
time_all

26930

In [16]:
call_list = [
    [1, 30],
    [2, 40],
    [3, 35],
    [4, 57],
    [5, 15],
]

call_df = pd.DataFrame(call_list, columns=['day', 'call_count'])
call_df

   day  call_count
0    1          30
1    2          40
2    3          35
3    4          57
4    5          15

In [23]:
r_scaler = preprocessing.RobustScaler()
col_names = list(call_df.columns)
call_r = r_scaler.fit_transform(call_df)
call_r = pd.DataFrame(call_r, columns=col_names)
call_r

   day  call_count
0 -1.0        -0.5
1 -0.5         0.5
2  0.0         0.0
3  0.5         2.2
4  1.0        -2.0