In [3]:
import pandas as pd

customer_df = pd.DataFrame({
            'number': [0, 1, 2, 3, 4],
            'cust_id': [128, 1201, 9832, 4392, 7472],
            'cust_age': [13, 21, 19, 21, 60],
            'cust_sale': [0, 0, 0.2, 0.15, 0.3],
            'cust_year_birth': [2008, 2000, 2002, 2000, 1961],
            'cust_order': [1400, 14142, 900, 1240, 8430]
        })

def delete_columns(df, col=[]):
    for column in col:
        if column not in df.columns:
            return None
    mod_df = df.drop(col, axis=1)
    return mod_df

print(delete_columns(customer_df, ['number1', 'cust_age']))

None

In [ ]:
import pandas as pd

countries_df = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'square': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
})

countries_df['Population Density'] = countries_df['population'] * 1000000 / countries_df['square']
display(countries_df['Population Density'])
display(round(countries_df['Population Density'].mean(), 2))

In [ ]:
ufo_data = pd.read_csv('https://raw.githubusercontent.com/justmarkham/pandas-videos/master/data/ufo.csv')
#display(ufo_data)
ufo_data['Time'] = pd.to_datetime(ufo_data['Time'])
#display(ufo_data['Time'].dt.year.mode()[0])
ufo_data['Date'] = ufo_data['Time'].dt.date
display(ufo_data[ufo_data['State'] == 'NV']['Date'].diff().dt.days.mean())
#display(ufo_data)

In [1]:
import pandas as pd
bike_data = pd.read_csv('data/citibike-tripdata.csv', sep=',')

In [24]:
bike_data.head()
#bike_data.info()
#bike_data.shape

,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,252.0,MacDougal St & Washington Sq,40.732264,-73.998522,366.0,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1
1,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,314.0,Cadman Plaza West & Montague St,40.693830,-73.990539,3242.0,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,1969,0
2,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,3142.0,1 Ave & E 62 St,40.761227,-73.960940,3384.0,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1975,1
3,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,308.0,St James Pl & Oliver St,40.713079,-73.998512,3690.0,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,1984,2
4,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,345.0,W 13 St & 6 Ave,40.736494,-73.997044,380.0,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1994,1

In [31]:

#display(bike_data['start station id'].value_counts(dropna=False))
bike_data['start station id'].mode()[0]
bike_data['bikeid'].mode()[0]

33887

In [38]:
#display(bike_data['usertype'].value_counts(dropna=False, normalize=True))
most_usertype = bike_data['usertype'].mode()[0]
most_usertype_count = bike_data[bike_data['usertype'] == most_usertype]['usertype'].shape[0]
percent_most_usertype = round(most_usertype_count/bike_data.shape[0], 2)
display(percent_most_usertype)

0.77

In [ ]:
display(bike_data['gender'].value_counts(dropna=False))
male = bike_data[bike_data['gender'] == 1].shape[0]
female = bike_data[bike_data['gender'] == 2].shape[0]
display(max(male, female))

In [ ]:
print(bike_data['start station id'].nunique())
print(bike_data['end station id'].nunique())
print(bike_data['birth year'].max())
print(bike_data['start station name'].value_counts())
print(bike_data['end station name'].value_counts())

In [3]:
bike_data_copy = bike_data.copy()
bike_data_copy = bike_data_copy.drop(['start station id', 'end station id'], axis=1)
bike_data_copy.shape

(300000, 12)

In [11]:
#bike_data_copy['age'] = 2018 - bike_data_copy['birth year']
#bike_data_copy.drop('birth year', axis=1, inplace=True)
bike_data_copy[bike_data_copy['age'] > 60]['age'].shape[0]
#bike_data_copy.head()

11837

In [17]:
bike_data_copy['stoptime'] = pd.to_datetime(bike_data_copy['stoptime'])
bike_data_copy['starttime'] = pd.to_datetime(bike_data_copy['starttime'])
bike_data_copy['trip duration'] = bike_data_copy['stoptime'].dt.minute - bike_data_copy['starttime'].dt.minute
bike_data_copy.head()
bike_data_copy.loc[3, 'trip duration']

7

In [19]:
weekend = bike_data_copy['starttime'].dt.day_of_week
bike_data_copy['weekend'] = weekend.apply(lambda x: 1 if x in [5, 6] else 0)
bike_data_copy[bike_data_copy['weekend'] == 1]['weekend'].shape[0]
#bike_data_copy.head()

115135

In [ ]:
def get_time_of_day(time):
    if 0 <= time <= 6:
        return 'night'
    elif 6 < time <= 12:
        return 'morning'
    elif 12 < time <= 18:
        return 'day'
    elif 18 < time <= 23:
        return 'evening'
    
bike_data_copy['time_of_day'] = bike_data_copy['starttime'].dt.hour.apply(get_time_of_day)
night_count = bike_data_copy[bike_data_copy['time_of_day'] == 'night']['time_of_day'].shape[0]
day_count = bike_data_copy[bike_data_copy['time_of_day'] == 'day']['time_of_day'].shape[0]
display(round(day_count/night_count))
print(night_count)
print(day_count)
#bike_data_copy.head()